page-user-form {
  .item {
    color: #fff;
    background: transparent;
  }
  .user-form-button {
    text-align: center;
    margin-top: 25px;
  }
  .user-form-button button {
    text-transform: uppercase;
    width: 120px;
    color: #fff;
  }
  .user-form-button ion-icon {
    margin-left: 15px;
  }
}
