<ion-header>
  <ion-navbar>
    <ion-title>{{ dataUser.username }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="data" (ngSubmit)="update()">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date Birthday</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" formControlName="birthday_date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Genre</ion-label>
      <ion-select formControlName="sex">
        <ion-option value="Female">Female</ion-option>
        <ion-option value="Male">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Locate</ion-label>
      <ion-input type="text" formControlName="locate"></ion-input>
    </ion-item>
    <div class="user-form-button">
      <button ion-button outline type="submit" [disabled]="!data.valid">Send <ion-icon name="send"></ion-icon></button>
    </div>
  </form>
</ion-content>
