<ion-header>
  <ion-navbar>
    <ion-title>{{ action }} Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="data" (ngSubmit)="doAction()">

    <div class="product-img">
      <img src="{{ util.baseURL }}img/product/base.png" *ngIf="action == 'Create'">
      <img src="{{ util.baseURL }}img/product/{{ dataProduct.img }}" *ngIf="action == 'Update'">
    </div>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select formControlName="category_id">
        <ion-option value="{{ item.category_id }}" *ngFor="let item of dataCategory">
          {{ item.description }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tags</ion-label>
      <ion-select formControlName="productTags" multiple="true" cancelText="Cancel" okText="Confirm">
        <ion-option value="{{ item.tag_id }}" *ngFor="let item of dataTag">
          {{ item.description }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input type="text" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input type="text" formControlName="price"></ion-input>
    </ion-item>

    <div class="product-form-button">
      <button ion-button outline type="submit" [disabled]="!data.valid">Send <ion-icon name="send"></ion-icon></button>
    </div>

  </form>

</ion-content>
