page-product-form {
  .item {
    color: #fff;
    background: transparent;
  }
  ion-avatar img {
    width: 70px !important;
    height: 70px !important;
  }
  .list {
    margin-bottom: -15px;
  }
  .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {
    border: none;
  }
  .product-img {
    text-align: center;
    margin-bottom: 10px;
  }
  .product-form-button {
    text-align: center;
    margin-top: 25px;
  }
  .product-form-button button {
    text-transform: uppercase;
    width: 120px;
    color: #fff;
  }
  .product-form-button ion-icon {
    margin-left: 15px;
  }
}
