<ion-content padding>
  <div class="header">
    <h3>Register Your Account</h3>
  </div>
  <div class="logo">
    <img src="http://ionic.io/img/2.png">
  </div>
  <div class="main">
    <form [formGroup]="data" (ngSubmit)="register()">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthday Date</ion-label>
        <ion-input type="text" formControlName="birthday_date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sex</ion-label>
        <ion-input type="text" formControlName="sex"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="form-button">
        <button ion-button outline type="submit" [disabled]="!data.valid">Confirm <ion-icon name="send"></ion-icon></button>
      </div>
    </form>
  </div>
  <div class="footer">
    <div class="login">
      <button ion-button clear color="primary" (click)="goLogin()">login</button>
    </div>
  </div>
</ion-content>
