<ion-tabs color="dark">
  <ion-tab [root]="tabUser" tabTitle="My Account" tabIcon="person"></ion-tab>
  <ion-tab [root]="tabCategory" tabTitle="Categorys" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tabTag" tabTitle="Tags" tabIcon="bookmark"></ion-tab>
  <ion-tab [root]="tabProduct" tabTitle="Products" tabIcon="briefcase"></ion-tab>
</ion-tabs>
