page-forgot-password {
  .content {
    background: linear-gradient(to right, #232526, #414345);
  }
  .header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .header h3 {
    text-transform: uppercase;
    color: #fff;
  }
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .logo img {
    width: 140px;
    height: 140px;
  }
  .item {
    color: #fff;
    background: transparent !important;
  }
  .form-button {
    text-align: center;
    margin-top: 35px;
  }
  .form-button button {
    text-transform: uppercase;
    width: 130px;
  }
  .form-button ion-icon {
    margin-left: 15px;
  }
  .footer {
    margin-top: 25px;
  }
  .login {
    float: left;
  }
  .register {
    float: right;
  }
}
