<ion-content padding>

  <div class="header">
    <h3>Forgot Your Password?</h3>
  </div>

  <div class="logo">
    <img src="http://ionic.io/img/2.png">
  </div>

  <div class="main">
    <form [formGroup]="data" (ngSubmit)="login()">
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="form-button">
        <button ion-button outline type="submit" [disabled]="!data.valid">Send <ion-icon name="send"></ion-icon></button>
      </div>
    </form>
  </div>

  <div class="footer">

    <div class="login">
      <button ion-button clear color="primary" (click)="goLogin()">login</button>
    </div>

    <div class="register">
      <button ion-button clear color="secondary" (click)="goRegister()">register here</button>
    </div>

  </div>

</ion-content>
