<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <img src="http://ionic.io/img/2.png">
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <ion-buttons right>
      <button ion-button icon-only *ngIf="isList" (click)="goGrid()"><ion-icon name="apps"></ion-icon></button>
      <button ion-button icon-only *ngIf="!isList" (click)="goList()"><ion-icon name="paper"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="searchFn($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isList">
    <ion-list inset>
      <button ion-item *ngFor="let item of dataCategory | categorySearch: query" (click)="showActionSheet(item)">
        {{ item.description }}
      </button>
    </ion-list>
  </div>

  <div *ngIf="!isList">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of dataCategory | categorySearch: query" (click)="showActionSheet(item)">
          <ion-card>
            <ion-card-content>{{ item.description }}</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab bottom right>
    <button ion-fab icon-only mini (click)="create(item)" color="dark"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
