<ion-header>

  <ion-navbar>

    <ion-title>{{ action }} Tag</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="data" (ngSubmit)="doAction()">
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <div class="user-form-button">
      <button ion-button outline type="submit" [disabled]="!data.valid">Send <ion-icon name="send"></ion-icon></button>
    </div>
  </form>

</ion-content>
