<ion-header>
  <ion-navbar>
    <ion-title>{{ dataProduct.description }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<div class="product-img">
		<img src="{{ util.baseURL }}img/product/{{ dataProduct.img }}">
	</div>

	<ion-card>
    <ion-card-content>
    Description <span>{{ dataProduct.description }}</span>
    </ion-card-content>
  </ion-card>

	<ion-card>
    <ion-card-content>
    Category <span>{{ dataProduct.category.description }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Tags <span>{{ getProductTags() }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Price <span>{{ dataProduct.price }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Quantity <span>{{ dataProduct.quantity }}</span>
    </ion-card-content>
  </ion-card>

</ion-content>
