page-product-view {
  .product-img {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .product-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .card-content {
    background: #009688;
    color: #fff;
  }
  .card-content span {
  	margin-left: 45px;
  }
}
