<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <img src="http://ionic.io/img/2.png">
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons right>
      <button ion-button icon-only *ngIf="isList" (click)="goGrid()"><ion-icon name="apps"></ion-icon></button>
      <button ion-button icon-only *ngIf="!isList" (click)="goList()"><ion-icon name="paper"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="searchFn($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isList" class="list">
    <ion-list>
      <ion-item *ngFor="let item of dataProduct | productSearch: query">
        <ion-avatar item-start>
          <img src="{{ util.baseURL }}img/product/{{ item.img }}" (click)="showActionSheet(item)">
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <h2><ion-icon name="briefcase-outline"></ion-icon> {{ item.description }}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <p><ion-icon name="clipboard-outline"></ion-icon> {{ item.category.description }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <p><ion-icon name="bookmark-outline"></ion-icon> {{ getProductTags(item.productTags) }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <p><ion-icon name="leaf-outline"></ion-icon> {{ item.quantity }}</p>
            </ion-col>
            <ion-col col-6>
              <p><ion-icon name="logo-usd"></ion-icon> {{ item.price }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!isList" class="grid">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let item of dataProduct | productSearch: query" class="grid-product">
          <ion-avatar>
            <img src="{{ util.baseURL }}img/product/{{ item.img }}" (click)="showActionSheet(item)">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab bottom right>
    <button ion-fab icon-only mini (click)="create(item)" color="dark"><ion-icon name="add"></ion-icon></button>
 </ion-fab>

</ion-content>
