page-product {
  .bar-buttons img {
    width: 36px;
    height: 36px;
    margin-left: 5px;
  }
  .bar-button {
    color: #fff;
  }
  .item {
    color: #fff;
    border: none !important;
    margin-bottom: 10px;
  }
  .item-inner {
    border: none !important;
  }
  .item:nth-child(even), .grid .grid-product:nth-child(even) {
   background-color: #26a69a;
  }
  .item:nth-child(odd), .grid .grid-product:nth-child(odd) {
   background-color: #009688;
  }
  ion-avatar img {
    width: 70px !important;
    height: 70px !important;
  }
  ion-label h2, ion-label h4, ion-label p {
    padding: 1px;
  }
  ion-label p {
    color: #fff !important;
  }
  ion-card {
    text-align: center;
  }
  ion-card .card-content {
    background: #4db6ac;
    color: #fff;
  }
  .grid ion-row ion-col {
    margin-bottom: 10px;
  }
  .grid ion-avatar img {
    margin-left: 25%;
  }
}
