.toolbar-background {
  background: transparent !important;
}

.toolbar-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.content {
  background: #00897b;
}

.back-button {
  color: #fff;
}

ion-action-sheet .action-sheet-wrapper {
  text-align: center;
  padding: 30px;
}
