<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left>
        <img src="http://ionic.io/img/2.png">
    </ion-buttons>
    <ion-title>{{ dataUser.username }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="user-img">
    <img src="{{ util.baseURL }}img/user/{{ dataUser.img }}" (click)="camera()">
  </div>

  <ion-card class="user-card" (click)="update()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6><ion-icon name="person"></ion-icon> {{ dataUser?.username }}</ion-col>
          <ion-col col-6><ion-icon name="mail"></ion-icon> {{ dataUser?.email }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6><ion-icon name="calendar"></ion-icon> 1993-03-30</ion-col>
          <ion-col col-6><ion-icon name="calendar"></ion-icon> 24</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6><ion-icon name="male"></ion-icon> Male</ion-col>
          <ion-col col-6><ion-icon name="locate"></ion-icon> USA / California</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card class="unit-card">
          <ion-card-content>
            <ion-icon name="clipboard"></ion-icon>
            <span>{{ countCategory }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="unit-card">
          <ion-card-content>
            <ion-icon name="bookmark"></ion-icon>
            <span>{{ countTag }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <ion-card class="unit-card">
          <ion-card-content>
            <ion-icon name="briefcase"></ion-icon>
            <span>{{ countProduct }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
