page-user {
  .bar-buttons img {
    width: 36px; height: 36px; margin-left: 5px;
  }
  .bar-button {
    color: #fff;
  }
  ion-col {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
  }
  .user-img {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .user-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .user-card .card-content {
    background: #009688;
    color: #fff;
  }
  .unit-card {
    background: #26a69a;
    color: #fff;
    text-align: center;
  }
  .unit-card ion-icon {
    font-size: 50px;
    display: block;
  }
  .unit-card span {
    font-size: 30px;
  }
}
