page-tag {
  .bar-buttons img {
    width: 36px;
    height: 36px;
    margin-left: 5px;
  }
  .bar-button {
    color: #fff;
  }
  .item {
    color: #fff;
    background: transparent;
  }
  ion-card {
    text-align: center;
  }
  ion-card .card-content {
    background: #26a69a;
    color: #fff;
  }
}
